[Unit]
Description=Beszel Hub
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
WorkingDirectory=/var/lib/beszel-hub
ExecStart=/home/qi/.nix-profile/bin/beszel-hub serve --http "0.0.0.0:8090"

[Install]
WantedBy=multi-user.target
